.hero {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 128px;
    margin-top: 128px;
    margin-bottom: 128px;
    width: 100%;
}

.hero_imagery {
    min-width: 60%;
}

.hero_imagery img {
    width: 100%;
    height: auto;
    border-radius: 32px;
}

.hero_textual {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
}

.hero_textual h1 {
    font-size: 24px;
    font-weight: 900;
}

.hero_textual h2 {
    font-weight: 600;
    font-style: italic;
}

@media (min-width: 0px) and (max-width: 768px) {
    .hero {
        flex-direction: column;
        gap: 32px;
        margin-top: 64px;
        margin-bottom: 64px;
    }
    .hero_imagery {
        max-width: 100%;
    }
}
